.attendance-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.attendance-button:hover {
  background-color: #218838;
}

.qr-code-container {
  margin-top: 20px;
  text-align: center;
}

.get-attendance-btn{
    padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:5vh;
}
